
# Vamos a replicar esta tabla de excel con pandas y numpy


![](https://github.com/jrgavilanes/ejercicios/raw/master/Complete%20Machine%20Learning%20and%20Data%20Science/numpy1.png)

In [87]:
import numpy as np
unidades_semana=np.array([   [1,4,1],
                              [4,5,2],
                              [6,6,3],
                              [87,78,4],
                              [9,9,5],
                              [0,0,6],
                              [3,5,7]
                         ])



precio_producto = np.array([3,6,4])

# Para esto servía la multiplicación de matrices ;-)
dinero_ventas = unidades_semana.dot(precio_producto)

print(dinero_ventas)

[ 31  50  66 745 101  24  67]

In [89]:
import pandas as pd

mi_excel=pd.DataFrame(unidades_semana, 
                     index=["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"],
                     columns=["producto1", "producto2", "producto3"])

# mi_excel["Ventas €"] = dinero_ventas.reshape((7,1))
mi_excel["Ventas €"] = dinero_ventas.T

# total_tipo_producto = unidades_semana.sum(axis=0)
# total_dia_semana = unidades_semana.sum(axis=1)
# unidades_producto_totales = pd.DataFrame(total_tipo_producto)

mi_excel

           producto1  producto2  producto3  Ventas €
lunes              1          4          1        31
martes             4          5          2        50
miercoles          6          6          3        66
jueves            87         78          4       745
viernes            9          9          5       101
sabado             0          0          6        24
domingo            3          5          7        67

In [85]:
# Totales

mi_excel.sum(axis=0)

producto1     110
producto2     107
producto3      28
Ventas €     1084
dtype: int64